@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
	font-family: "Montserrat", sans-serif;
}

h1 {
	color: green;
}

h2 {
	color: green;
}


.azul {
  color: blue;
}


img {
  border-radius: 30px;
}

h2, h3 {
  font-weight: normal;
}

ol {
  list-style: none;
  counter-reset: item;
  padding-left: 2em;
  margin-top: 0.5em;
  margin-bottom: 1em;
}

ol li {
  counter-increment: item;
  position: relative;
  margin-bottom: 0.6em;
  padding-left: 1.8em;
  font-weight: normal; 
}

ol li::before {
  content: counter(item) ".";
  position: absolute;
  left: 0;
  font-weight: bold;
}
